body{
  background: #E0E0E1;
}

p{
  color: #AEAEFF;
}

section{
  border-bottom: #D2D2D2 2px solid;
  min-height:98vh;
}

header{

}

a{
  text-decoration: none;
}

li{
background-color: #AEAEFF;
justify-content: space-around;
}

h1{
  text-shadow: 0.1em 0.1em #AEAEFF;

}

h2{
  text-shadow: 0.1em 0.1em #AEAEFF;
}

.projet-feature-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.projet-feature{

  margin:1em;
  padding:1em;
  flex-basis: 320px;
}

.photo-feature-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-feature{

  margin:1em;
  padding:1em;
  flex-basis: 320px;
}

.sommaire{
  margin:1em;
  text-align: center;
}

.title{
  margin-top: 130px;
  text-align: center;
}

#introduction{
  text-align: center;
  margin-top: 75px;
}


#main-menu{

  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  transition: 1s all ease;

}

#main-menu:target{
  left:0;
  background: #AEAEFF;
  z-index:999;


}


#main-menu ul a{
display: block;
  color: rgba(255, 255, 255, 1);

  padding: 1em;
  margin-bottom: 1px;


}

.menu-toggle{
  border: 1px solid #AEAEFF;
  display: block;

  padding: 1em;
  max-width: 120px;
  text-align: center;
}

.close-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #AEAEFF;
  height:32px;
  width: 32px;
  border-radius: 100%;
  text-decoration: none;
  position: absolute;
  top:0;
  right:0;
}

#main-menu:target + .backdrop{
  display: block;
  background: solid-transprent;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:998

}

@media (min-width : 640px) {

  #main-menu{
    position: static;
    width: 100%;

  }
.menu-toggle{
  display: none;
}
#main-menu ul {
  display: flex;
  justify-content: center;

}
.close-menu{
  display:none;
}
}

.img{
border: 10px solid #AEAEFF;
border-radius: 5%;
}

#about{
  text-align: center;
  margin-top: 40px;
}

#me{
max-height: 250px;
  border-radius: 5%;
  border: 10px solid #AEAEFF;
  margin-top: 100px;
}

#contact{
  text-align: center;
  margin-top: 40px;
}

#mail{
  margin-top: 150px;
  text-shadow: 0.1em 0.1em orange;
}

#phone{
  margin-top: 75px;
  text-shadow: 0.1em 0.1em orange;
}

#insta{
  margin-top: 75px;
  text-shadow: 0.1em 0.1em orange;
}

#instalogo{
  max-width: 45px;
  margin-top: 30px;
}

#footer{
  text-align: center;
}
