h1{
text-align: center;
font-size:2em;
margin-bottom:1em;
font-family: "GothamUltra" ,sans-serif;
text-shadow: 0.1em 0.1em #AEAEFF;
color: white;
}

body{
  background-color: #E0E0E1;}


  .responsive{
    justify-content: center;
    max-width: 100%;
    height: auto; } 

  #return{
    font-size:2em;
    margin-bottom:0.5em;
    font-family: "GothamUltra" ,sans-serif;
    text-shadow: 0.1em 0.1em #AEAEFF;
    color: white;
    text-align: center;
  }

  a{
    text-decoration:none;
  }
