body{
  font-family:sans-serif;
  color:white;
}

h1{
  font-size:2em;
  margin-bottom:1em;
  font-family: "GothamUltra" ,sans-serif;
}

.sommaire{
  font-size: 6em;
  text-shadow: 0.1em 0.1em orange;
}

h2{
  font-size:2em;
  margin-bottom:0.65em;
  font-family: "GothamBold" ,sans-serif;
}

figcaption{
  font-size:0.75em;
  font-style: italic;
}

figure{
  margin-bottom:1em;
}

p{
  font-family: "GothamLight" ,sans-serif;
}

li{
  font-family: "GothamMedium", sans-serif;
}

#introduction{
  font-family: "GothamMedium", sans-serif;
  line-height: 2em;

}
#intro{
  font-family: "GothamMedium", sans-serif;
  line-height: 2em;

}
